torch
torchtext
torchvision
tensorflow
keras
trax
matplotlib
seaborn
spacy
nltk
numpy # a bit picky with tensorflow
pandas
scipy
scikit-learn
scikit-image
jupyter
cython
tqdm
dill
#albumentations
fastBPE
regex
requests
sacremoses
subword_nmt

