torch
torchtext
torchvision
tensorflow
keras
trax
matplotlib
seaborn
spacy
nltk
pandas
scipy
scikit-learn
scikit-image
jupyter
ipython
cython
tqdm
dill
#albumentations
datasets
tokenizers
transformers
sacrebleu
optuna
ray
regex
requests
sacremoses
subword_nmt
numpy # a bit picky with tensorflow
#fastBPE  # Sometimes raises error