# ML stack
numpy # a bit picky with tensorflow
pandas
scipy
scikit-learn
scikit-image
xgboost

# Visualization
matplotlib
seaborn

# Jupyter
jupyterlab
jupyter
ipython

# Others
cython
tqdm
dill
requests

# PyTorch
torch
torchtext
torchvision

# PyTorch ecosystem
albumentations
ray
optuna
pytorch-lightning

# Tensorflow
tensorflow  # Includes Tensorboard
keras
trax
tensorboard-plugin-profile

# HuggingFace
datasets
tokenizers
transformers

# NLP
# Preprocessing: https://www.topbots.com/nlp-text-pre-processing-methods/
regex
spacy
nltk
sacrebleu
sacremoses
subword_nmt
fastBPE  # Sometimes raises error
ftfy  # Fix Unicode
textacy  # Preprocessing: Phones, URLs, hashtags,...
beautifulsoup4 #Removing HTML metadata
Scrapy  # Scraping






